.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 0.5px solid #eee;
    z-index: 100;
}
.navbar::after {
    display: block;
    width: inherit;
    height: inherit;
}
.logo {
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--color-theme);
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu li {
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}
.menu li:hover {
    color: var(--color-theme);
    font-weight: bold;
}